TELEGRAM_APITOKEN=your_bot_token
SUB_CHANNEL_ID=-1001001001000
SUB_CHANNEL_LINK=@channel
CONTEST_CHANNEL_1_ID=-1001001001001
CONTEST_CHANNEL_1_LINK=https://t.me/channel_one
CONTEST_CHANNEL_2_ID=-1001001001002
CONTEST_CHANNEL_2_LINK=https://t.me/channel_two
ADMIN_ID=1122112211
SHOP_URL=https://example.com

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=stickers
